<!DOCTYPE html>
<html>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
  </script>
    <body ng-app="myApp" ng-controller="toDoList">
      <h2>To Do List</h2>
      <form ng-submit="toDoAdd()">
        <input type="test" ng-model="todoInput" size="40" placeholder="Add Task">
        <input type="submit" value="Add New">
      </form>
  <div ng-repeat="x in toDoList">
    <input type="checkbox" ng-model="x.done"><span ng-blind="x.todoText"></span>
  </div>
  <p><button ng-click="remove()"> Remove marked</button></p>
  <script>
  var app = angular.module('myApp', []);
  app.controller('toDoCtrl', function($scope){
    $scope.toDoList = [{toDoText:'',done:false}];

    $scope.toDoAdd = funtion(){
      var oldList = $scope.toDoList;
      $scope.toDoLidt =[];
      angular.forEach(oldList, function(x){
        if (!x.done) $scope.toDoList.push(x);

      });
    };
  });
  </script>
    </body>
</html>
